<div class="container" style="margin-top: 7px;">
    <div class="card">
      <div class="card-header">
        <h5>Actualizar Producto</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="updateForm">
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="idCategory" class="form-label">Categoría</label>
              <select formControlName="idCategory" class="form-select" id="idCategory">
                <option value="" disabled>Seleccione una opción</option>
                <option *ngFor="let category of categories" [value]="category.idcategory">{{ category.name }}</option>
              </select>
              <div *ngIf="updateForm.controls['idCategory'].touched && updateForm.controls['idCategory'].invalid" class="divError">Este campo es requerido.</div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Obligatorio">
              <div *ngIf="updateForm.controls['name'].touched && updateForm.controls['name'].invalid" class="divError">Este campo es requerido.</div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="barcode" class="form-label">Código de Barras</label>
              <input type="text" formControlName="barcode" class="form-control" id="barcode" placeholder="Obligatorio">
              <div *ngIf="updateForm.controls['barcode'].touched && updateForm.controls['barcode'].invalid" class="divError">Este campo es requerido.</div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="sale_price" class="form-label">Precio de Venta</label>
              <input type="number" formControlName="sale_price" class="form-control" id="sale_price" placeholder="Obligatorio">
              <div *ngIf="updateForm.controls['sale_price'].touched && updateForm.controls['sale_price'].invalid" class="divError">Este campo es requerido.</div>
              <div *ngIf="updateForm.controls['sale_price'].touched && updateForm.controls['sale_price'].errors?.['min']" class="divError">El precio de venta debe ser mayor o igual a 0.</div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" formControlName="stock" class="form-control" id="stock" placeholder="Obligatorio">
              <div *ngIf="updateForm.controls['stock'].touched && updateForm.controls['stock'].invalid" class="divError">Este campo es requerido.</div>
              <div *ngIf="updateForm.controls['stock'].touched && updateForm.controls['stock'].errors?.['min']" class="divError">El stock debe ser mayor o igual a 0.</div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="state" class="form-label">Estado</label>
              <select formControlName="state" class="form-select" id="state">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
              </select>
              <div *ngIf="updateForm.controls['state'].touched && updateForm.controls['state'].invalid" class="divError">Este campo es requerido.</div>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="onUpdate()">Actualizar Producto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <app-notify [type]="typeResponse" [listMessage]="listMessageResponse"></app-notify>