.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.btn-delete{
    background-color: rgba(219, 78, 78, 0.212);
}
.card-body{
    text-align: center;
    overflow-x: auto;
    width: 100%;
  }
.btn-edit{
    background-color: rgba(76, 223, 46, 0.315);
}